<%= form_for ([@project, @task]) do |f| %>
<%= f.text_field(:name, {:class => 'form-control'}) %>
  <p>done</p>
  <%= f.text_field(:status, {:type => 'radio', :value => 'done'}) %>
  <p>in process</p>
  <%= f.text_field(:status, {:type => 'radio', :value => 'in process'}) %>
  <%= f.submit  %>
<% end %>
