<%= form_for :project, url: project_path(@project), method: :patch do |f| %>
  <p>
    <h2><%= 'Project name: '%>:</h2>
    <br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>
  </p>
<p>
<%= f.submit ({:value => 'Save', :class => 'btn btn-success'})%>
</p>
<%= f.fields_for :task_attributes do |task| %>

  <%= task.text_field :name, placeholder:"Add a Task", class: "form-control" %>
  <p><span class="task-list-text complete-text">Complete?   </span><%= task.check_box :status %></p>
  
  <% end %>
<%end%>